[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	unstage = reset HEAD
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    pl = pull
    psm = push origin master
    ps = push
    df = diff
    ca = commit -a
